[project]
	description = An easy-to-use and lightweight local storage database for node.js and node-webkit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Artyem Kolosovich (soramusoka)
[access "refs/for/refs/*"]
	read = group user/Artyem Kolosovich (soramusoka)
	push = group user/Artyem Kolosovich (soramusoka)
	label-Code-Review = -2..+2 group user/Artyem Kolosovich (soramusoka)
	label-Verified = -1..+1 group user/Artyem Kolosovich (soramusoka)
	rebase = group user/Artyem Kolosovich (soramusoka)
	removeReviewer = group user/Artyem Kolosovich (soramusoka)
	submit = group user/Artyem Kolosovich (soramusoka)
[access "refs/heads/*"]
	read = group user/Artyem Kolosovich (soramusoka)
	create = group user/Artyem Kolosovich (soramusoka)
	push = +force group user/Artyem Kolosovich (soramusoka)
	pushMerge = group user/Artyem Kolosovich (soramusoka)
[access "refs/tags/*"]
	push = +force group user/Artyem Kolosovich (soramusoka)
	pushTag = group user/Artyem Kolosovich (soramusoka)
	pushSignedTag = group user/Artyem Kolosovich (soramusoka)
